<h1>welcome to <strong>Bookers</strong>!!</h1><br>

<p>In <strong>Bookers</strong>,</p><br>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p><br>

<div>
  <a class="btn">
    <%= link_to "Log in", new_user_session_path %>
  </a>
</div><br>
<div>
  <a class="btn">
    <%= link_to "Sign up", new_user_registration_path %>
  </a>
</div><br>